html, body, div, span, i, em, u,
h1, h2, h3, h4, h5, h6, p, table, caption,
tbody, tfoot, thead, tr, th, td,
input, textarea, abbr {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-weight: normal;
}

:focus {
    outline:0;
}

/* fonts  */

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* fonts  */

@font-face {
    font-family: 'calibri_reg';
    src: url('../fonts/calibri.eot');
    src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri.woff') format('woff'),
         url('../fonts/calibri.ttf') format('truetype'),
         url('../fonts/calibri.svg#calibri_reg') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'Arial', 'Helvetica', 'Geneva';
    font-size:14px;
    line-height: 1.7;
}


img, a img {
    border:none;
}
a {
    color: #e11b22;
    text-decoration: underline;
}
a:hover {
    text-decoration:none;
}

p {
    line-height: 24px;
    margin-bottom: 19px;
}

h1, h2, h3, h4, h5, h6 {

}

h2 {

}

h2 ~ p {

}

h3 {
    color: #4c4d4f;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
}

h4 {

}

.content p {
    padding-left: 20px;
    margin-bottom: 17px;
}

.content ul {
    list-style: outside disc;
    margin: 0 0 20px 20px;
    padding: 0;
}

.content ul li {
    background: url("../images/bg/bullet.png") no-repeat scroll 0 10px transparent;
    line-height: 1.4;
    list-style: none outside none;
    margin: 0 0 5px;
    padding: 0 0 0 17px;
    position: relative;
}

.content ol li {
    position:relative;
    margin:0 0 0 28px;
    padding: 0;
}

.content table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 25px;
 }
.content th,
.content td {
    text-align: left;
    padding: 12px 10px;
    vertical-align: top;
    border-bottom:1px dotted #dbdbdb;
}

.content sup {
    margin-top: -2px;
    position: absolute;
}

.content th {
    font-weight: normal;
    background: #f2f2f2;
}


/* main styles */

.link-ico {
    text-decoration: none;
    position: relative;
}

/* icons  < */

.ico {
    background: url(../images/bg/icons.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: top;
}

.ico_home {
    background-position:  -36px 0 ;
    height: 15px;
    width: 14px;
}
.fb-ico {
    background-position:  0 0 ;
    height: 32px;
    width: 32px;
    position: absolute;
    left:0;
}
.ico_practic_it {
    background-position:  -53px 0 ;
}
.ico_practic_pharm {
    background-position:  -79px 0 ;
}
.ico_practic_fin {
    background-position:  -105px 0 ;
}
.ico_practic_agro {
    background-position:  -132px 0 ;
}
.ico_practic_real {
    background-position:  -159px 0 ;
}
.ico_practic_tourism {
    background-position:  -196px 0 ;
}
/* clear */

.clearfix:after,
.menu:after,
.columns:after {
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

